/*

  Animations

*/

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    } to {
        -ms-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    } to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@-ms-keyframes successExpand {
    from {
        border-width: 0;
    } to {
        border-width: 9000px;
    }
}
@-moz-keyframes successExpand {
    from {
        border-width: 0;
    } to {
        border-width: 9000px;
    }
}
@-webkit-keyframes successExpand {
    from {
        border-width: 0;
    } to {
        border-width: 9000px;
    }
}
@keyframes successExpand {
    from {
        border-width: 0;
    } to {
        border-width: 9000px;
    }
}

@-ms-keyframes pulse {
    0% {
        -ms-transform: scale(1);
    }
    50% {
        -ms-transform: scale(1.05);
    }
    100% {
        -ms-transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.05);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@-ms-keyframes up {
    from {
        top: 100vh;
    } to {
        top: 0;
    }
}
@-moz-keyframes up {
    from {
        top: 100vh;
    } to {
        top: 0;
    }
}
@-webkit-keyframes up {
    from {
        top: 100vh;
    } to {
        top: 0;
    }
}
@keyframes up {
    from {
        top: 100vh;
    } to {
        top: 0;
    }
}

@keyframes chinAnimation {
  0% {
    top: 3px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 3px;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*

  Base Styles

*/
html, body {
  height: 100%;
}

body {
  /*font-family: 'Roboto', sans-serif;*/
	font-family: 'BioRhyme', serif;
	font-size: 10px;
  background-color: #333;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  color: #333;
}

button:focus,
button:active:focus {
  outline: 0 !important;
}

h1.logo {
  font-size: 3em;
  font-weight: 700;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  word-spacing: -8px;
  transition: all 500ms;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 11px;
  text-align: left;
  width: 73px;
  padding: 0;
  margin: 0;
}

h1.left {
  left: 20px;
  transform: none;
}

h1.alt {
  color: #fff;
}

.container {
  height: 100%;
}

.keyboard {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  animation: disappear 4s;
  animation-fill-mode: forwards;
  z-index: 50;
  background: transparent url('/public/img/keyboard-keys.svg') center no-repeat;
  width: 252px;
  height: 88px;
  transition: all 300ms;
}

/*

  Quote Section

*/

.quotes-container {
  background-color: #fff;
  position: relative;
  z-index: 20;
  padding: 2em 140px 2em 2em;
  min-height: 80px;
}

.quotes {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.quote {
  color: #000;
  line-height: 1.5;
  font-size: 2.5em;
  opacity: 0;
  font-family: 'Courier New';
  opacity: 0;
  text-indent: 9000px;
  transition: all 300ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote__source {
  font-size: 0.5em;
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #333;
}

.quote.is-active {
  opacity: 1;
  text-indent: 0;
}

.quotes-controls {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
  background: #f0f0f0;
  border-radius: 50px;
  text-align: center;
  padding: 0 4px;
}

.quotes-controls button {
  font-size: 5em;
}

/*

  Candidates Section

*/

candidates {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.candidates-quote {
  background: #fff;
  z-index: 10;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.candidates {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex: 1;
}

.candidate {
	margin: 0;
	padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 100vh;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 500ms;
  background-color: #333;

  -webkit-animation-name: up;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: up;
  -moz-animation-duration: 500ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -moz-animation-fill-mode: forwards;

  -ms-animation-name: up;
  -ms-animation-duration: 500ms;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: linear;
  -ms-animation-fill-mode: forwards;

  animation-name: up;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.candidate:hover {
  background-color: #0b0;
}

.candidate:hover img {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: pulse;
  -moz-animation-duration: 500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: pulse;
  -ms-animation-duration: 500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: pulse;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.candidate img {
  transition: all 300ms;
}

.candidate--loser {
  background-color: #b00 !important;
}

.candidate--winner {
  background-color: #0b0 !important;
}

.candidate--winner:hover img,
.candidate--winner img {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.candidate:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
}

.candidate--clinton:after {
  background-color: #232066;
}
.candidate--drumph:after {
  background-color: #E91D0E;
}
.candidate--johnson:after {
  background-color: #FDD400;
}

.candidate--clinton {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  animation-delay: 500ms;
}

.candidate--drumph:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
}

.candidate--drumph {
  -webkit-animation-delay: 600ms;
  -moz-animation-delay: 600ms;
  -ms-animation-delay: 600ms;
  animation-delay: 600ms;
}

.candidate--johnson {
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
  -ms-animation-delay: 700ms;
  animation-delay: 700ms;
}

.candidate-image-chin,
.candidate-image {
  /*position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/
}

.candidate-image-chin__image,
.candidate-image__image {
  max-width: 95%;
}

.candidate-image-chin__image {
  position: relative;

  /*-webkit-animation-name: chinAnimation;
  -webkit-animation-duration: 400ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: chinAnimation;
  -moz-animation-duration: 400ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: chinAnimation;
  -ms-animation-duration: 400ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: chinAnimation;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;*/
}

.candidate__name {
  font-size: 5.5em;
  margin: 0;
  padding: 0 0 20px 0;
}

.candidate__percentage {
  font-size: 3.5em;
  position: absolute;
  top: 15px;
  right: 15px;
}

.candidate__percentage::after {
  content: '%';
}

/* Points */

.points {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 60;
  background: #fff;
  padding: 10px 10px 5px;
  border-radius: 10px 10px 0 0;
}

.points span {
  font-size: 2em;
  line-height: 1;
  color: #aaa;
}
.points span + span {
  margin-left: 15px;
}
.points span:first-child,
.points span:last-child {
  font-size: 5em;
  font-weight: bold;
  color: #333;
}

.main-buttons {
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
}

.main-buttons .about-button {
  background-color: #f0f0f0;
  color: #333;
  margin-right: 10px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 4em;
  transition: all 300ms;
}

.main-buttons .about-button:hover {
  transform: scale(1.1);
}

.reset-button-2 {
  font-size: 0.5em;
  background: #333;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  margin-top: 30px;
}

.reset-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: #f0f0f0;
  color: #333;
  margin-right: 10px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 4em;
}

.reset-button:hover {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 2500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 2500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.success-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #7ED321;
  color: #fff;
  font-size: 4em;
  text-align: center;
  z-index: 100;
  border: 0 solid #333;
  min-width: 600px;
  width: 50%;

  -webkit-animation-name: successExpand;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: successExpand;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -moz-animation-fill-mode: forwards;

  -ms-animation-name: successExpand;
  -ms-animation-duration: 3000ms;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: linear;
  -ms-animation-fill-mode: forwards;

  animation-name: successExpand;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.share-container {
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 100;
}

/* About */
.about-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  z-index: 900;
}
.about-page > div {
  background-color: #333;
  color: #fff;
  padding: 40px;
  border-radius: 25px;
  position: relative;
  max-width: 760px;
}

.about-page a {
  color: #fff;
}

.about-page .fb-share-button {
  display: block;
  margin: 40px auto 10px;
  width: 110px;
}

.about-page__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -26px;
  right: -24px;
}

.about-page__buttons .close-button {
  background-color: #f0f0f0;
  color: #444;
  font-size: 2em;
  border-radius: 50%;
  padding: 10px 17px;
  border: 7px solid #444;
}

.disclaimer {
  font-size: 0.8em;
  font-style: italic;
  font-family: 'Courier New';
}

/* Admin Page */

.auth-page input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  padding: 30px;
  border-radius: 25px;
  width: 50%;
  border-style: none;
}

.admin-page {
  color: #fff;
  padding: 30px;
  font-size: 2em;
}

.admin-page a {
  background-color: #369;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0 40px;
  border-radius: 25px;
  line-height: 45px;
}

.data-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.data-list-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.data-list-item [type='text'] {
  padding: 5px;
  flex: 1;
  border-style: none;
}

.data-list-item > * + * {
  margin-left: 5px;
}

.form-row {
  margin: 0 0 20px 0;
}

.form-row label {
  width: 100px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
}

.form-row .text-box {
  width: 80%;
  padding: 20px;
}

.data-container {
  margin-top: 40px;
  background: #f9f9f9;
  border-radius: 10px;
}

.data-list-item__buttons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.data-list-item__buttons button,
.action-row button {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 20px;
  border-radius: 55px;
  display: block;
}

.data-list-item__buttons button + button {
  margin-left: 5px;
}

/* Footer */

footer {
  background-color: #fff;
  padding: 20px;
  color: #333;
  font-size: 1.5em;
  font-family: 'Courier New';
  display: flex;
  align-items: center;
}

footer a {
  color: #333;
  text-decoration: none;
  transition: all 300ms;
  margin-left: 10px;
  border-bottom: 1px solid transparent;
  position: relative;
  top: 1px;
}

footer a:last-child {
  margin-left: auto;
}

footer a:hover {
  border-color: #333;
}